daemon:
    pidfile: /tmp/mqtt2cosm.pid
    stderr: /tmp/mqtt2cosm.err
    stdout: /tmp/mqtt2cosm.log
    debug: True

mqtt:
    client_id: mqtt2cosm
    host: localhost
    port: 1883
    keepalive: 60
    clean_session: False
    qos: 0
    status_topic: /service/mqtt2cosm/status
    set_will: False

cosm:
    api_key: AAABBBCCC
    timeout: 10
    feeds:
        94914:
            1: /benavent/general/power

